{
  "root": true,
  // parse TypeScript files
  // https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/parser
  "parser": "@typescript-eslint/parser",
  // configure eslint using options described at
  // https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "no-var": "warn",
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-unused-vars": "off",
    "prettier/prettier": "warn",
    "comma-dangle": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unused-vars": ["warn", {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
    }]
  }
}
