# The Prisma database URL to the Postgres database. 
# The default is fine if you're using the default docker-compose setup.
DATABASE_URL="postgresql://repco:repco@localhost:5432/repco?schema=repco"

# API key for the CBA datasource
# CBA_API_KEY=
