* {
  box-sizing: border-box;
}

:root {
  --c-border1: #f8c;
}

body {
  font-family: sans-serif;
  line-height: 1.35;
  font-size: 16px;
  background-color: #fafafa;
}

.layout-header {
  display: flex;
  /* background: linear-gradient(to bottom, #302, #1a000c); */
  /* background: linear-gradient(to bottom, #ead0e0, #fae0f0); */
  background: linear-gradient(to bottom, #ffe0f0, #ffd0f0);
  border-bottom: 1px solid #ead0e0;
  color: white;
  padding: .5rem 1rem;
  height: 3rem;
}

.layout-header > a {
  text-decoration: none;
  transition: transform .1s;
}
.layout-header > a:hover {
  transform: scale(120%);
}
.layout-header h1,
.layout-header div {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  vertical-align: text-bottom;
  /* color: #0ec; */
  /* color: #0ec; */
  color: #085;
  opacity: .8;
}


.layout-header h1 {
  margin-right: 1rem;
  font-size: 1.6rem;
  text-shadow: 2px 2px #f0e;
}

.layout-header .layout-header--slug {
  font-size: .9rem;
  opacity: .6;
  padding-left: 1rem;
  font-family: monospace;
  color: #000;
  display: block;
}

.layout-main {
  display: flex;
  min-height: calc(100vh - 3rem);
}
.layout-main > main {
  padding: 1rem 1rem 1rem 2rem;
  max-width: 64rem;
}

.layout-nav {
  width: 15rem;
  /* background: #1a000c; */
  /* color: white; */
  padding: 1rem;
}
.layout-nav h2 {
  font-weight: normal;
  padding: 0;
  margin: 1rem 0 0 0;
  font-size: 1.35rem;
  /* color: #0ec; */
  color: #086;
  padding: .125rem .5rem;
  /* text-shadow: 1px 1px #f0e; */
}
.layout-nav a {
  /* color: rgba(255,255,255,0.8); */
  display: block;
  /* font-weight: bold; */
  /* text-decoration: none; */
  padding: .125rem .5rem;
  /* margin: .25rem 0; */
  color: #222;
}
.layout-nav a:visited {
  color: #423;
}
.layout-nav a.active {
  /* background-color: #302; */
  /* background-color: #fae0f0; */
  background-color: #fceaf6;
  /* color: #f6b; */
  color: #c29;
  font-weight: bold;
}
.layout-nav a:hover,
.layout-nav a.active {
  /* color: #f6b; */
  /* color: #d4a; */
  color: #c29;
}
.layout-nav ul,
.layout-nav li {
  margin: 0;
  padding: 0;
}
.layout-nav li {
  list-style-type: none;
}

.search-results h2 {
  font-size: 1.2rem;
  font-weight: normal;
}

.search-results--content em {
  font-style: normal;
  background: #fea;
}

.flex-space {
  flex-grow: 1;
}

.markdown td, .markdown th {
  padding: .5rem;
  border: 1px solid #ddd;
}
.markdown table {
  border-spacing: 0;
  border-collapse: collapse;
}
.markdown th, .markdown thead td {
  background: #eee;
}

.search-form {
  display: flex;
}
.search-form input, .search-form button {
  font-size: 1.2rem;
  border: 1px solid var(--c-border1);
  display: block;
}
.search-form button {
  background: #fcd;
  cursor: pointer;
}
.search-form button:hover {
  background: #fad;
}

/* mobile styles */
.layout-nav--toggle {
  display: none;
}

@media only screen and (max-device-width: 720px) {
  .layout-header {
    display: block;
    height: auto;
  }
  .layout-header--slug {
    display: none;
  }
  .layout-main {
    display: block;
  }
  .layout-nav {
    width: auto;
    padding: 0;
    /* background-color: #eee; */
  }
  #layout-nav--menu {
    display: none;
    padding: 0;
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  .layout-nav.is-active #layout-nav--menu {
    display: block;
  }
  .layout-nav--toggle {
    display: block;
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    border: none;
    background: #3c9;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  #layout-nav--menu h2 {
    margin: 1rem .5rem;
    padding: 0;
  }
  #layout-nav--menu a {
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    padding: .5rem;
    background-color: #eee,
  }
  #layout-nav--menu li:first-child > a {
    border-top: 1px solid #ddd;
  }

  .layout-main > main {
    padding-left: 1rem;
    paddingt-top: 0;
  }
}
