h1 {
    padding: 1rem;
    border-bottom: 1px solid;
    margin-bottom: 0;
  }
  
  .list-item {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 600px;
  }
  
  .list-item--odd {
    background: #f8fafc;
  }
  
  .list-item--even {
    background: #cbd5ff;
  }

    table {
      border-collapse: collapse;
      width: 100%;
    }
  
    th,
    td {
      text-align: left;
      padding: 8px;
    }
  
    tr:hover {background-color: #d8d8d8a4;}

    tr:nth-child(even) {
      background-color: #D6EEEE;
    }

    tr:nth-child(even):hover {background-color: #d8d8d8a4;}
    
.container {
  display: flex;
}

.fixed {
  width: 60%;
}

.flex-item {
  padding-top: 0.5%;
  padding-left: 1%;
  position: relative;
  width: 50%;
  
}