h2 {
    border-bottom: 1px solid;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: center;
        vertical-align: middle;
}

tr:hover {
    background-color: #d8d8d8a4;
}

.center {
    position: absolute;
    left: 7%;
    top: 15%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.login {
    background-color: rgb(167, 167, 167);
}

.login:hover {
    background-color: rgb(150, 58, 255);
}