.custom__remix-pagination__container {
    .custom__remix-pagination__list {
        display: flex;
        align-items: center;
    }

    .custom__remix-pagination__icon {
        margin-right: 10px;
        margin-left: 10px;
    }

    .custom__remix-pagination__link--disabled>.custom__remix-pagination__icon {
        fill: #bfbfbf;
    }

    .custom__remix-pagination__link {
        margin-right: 4px;
        margin-left: 4px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .custom__remix-pagination__link--current {
        background-color: #dcedff;
        color: #0e45d5;
        border-radius: 5px;
    }
}