

    table {
      border-collapse: collapse;
      width: 100%;
    }
  
    th,
    td {
      text-align: left;
      padding: 8px;
    }
  
    tr:hover {background-color: #d8d8d8a4;}

    tr:nth-child(even) {
      background-color: #D6EEEE;
    }

    tr:nth-child(even):hover {background-color: #d8d8d8a4;}
    
.container {
  display: flex;
}

.fixed {
  width: 60%;
}

.flex-item {
  padding-top: 0.5%;
  padding-left: 1%;
  position: relative;
  width: 50%;
  left: 60%;
      top: 2.5%;
      bottom: 0;
      position: fixed;

}

